@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
/* criando variaveis */
:root { 
    --color-primary: #7952b3 ;
    --color-secondary: #764c62;
    --color-error:#ff0000;
}


html, body {
    height: 100%;
    font-family: "Ubuntu", sans-serif;
   
}


#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}
/*macete para colocar o rodarpé fixo */
.footer {
    flex-shrink: 0;
}

/* background*/
.bg-primary {
    background-color: var(--color-primary) !important;
}
.bg-white {
    background-color: #fff !important;
}

/*Colors text*/
.text-primary {
    color: var(--color-primary) !important;
}
.text-secondary {
    color: var(--color-secondary) !important;
}
.text-white{
    color: #fff !important;
}
.text-grey{
    color: rgb(209, 209, 209) !important;
}
.text-center{
    text-align: center !important;
}
/*Table*/
.table-primary{
    --bs-table-bg: var(--color-primary) !important;
    --bs-table-striped-bg: var(--color-primary) !important;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: var(--color-primary) !important;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: var(--color-primary) !important;
    --bs-table-hover-color: #fff;
    color: #fff;
    border-color: var(--color-primary) !important;
}
/*Buttons*/
.btn-primary {
    color: #fff;
    background-color: var(--color-primary) !important;;
    border-color: var(--color-primary) !important;;
}