@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
/* criando variaveis */
:root { 
    --color-primary: #8b165c ;
    --color-secondary: #764c62;
    --color-error:#ff0000;
}


html, body {
    height: 100%;
    font-family: "Ubuntu", sans-serif;
   
}


#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}
/*macete para colocar o rodarpé fixo */
.footer {
    flex-shrink: 0;
    text-align: center;
}

/* Mudando os estios basicos do bootstrap*/
.bg-primary {
    background-color: var(--color-primary) !important;
}

.text-primary {
    color: var(--color-primary) !important;
}